<%= javascript_pack_tag 'index' %>
<% if user_signed_in? %>
<div id="combats">
  <Combat></Combat>
</div>
<% else %>
  <h1 class="headline">
    <%= link_to image_tag("rc.png", class:"title_logo"), "/" %>
  </h1>
  <h1>天下分け目の戦いに参戦する?</h1>
  新規登録はこちら
<% end %>