<div class="description">
  <p>当サイトは、戦国武将として戦場を駆け抜ける体験をするサイトです。</p>
  <p>会員登録をする際、東軍西軍を選択します。</p>
  <br>
  <p>自分の武器を選択し、敵を倒します。</p>
  <p>自軍の一員として、敵軍の武将を倒し、自軍の勝利を目指しましょう。</p>
  <br>
  <p>武器一覧</p>
  <li>剣</li>
  <p>ワンクリックごとに敵を一人倒します。</p>
  <li>弓</li>
  <p>クリックしたままカーソルを下に動かし、離すと弓が発射されます。</p>
  <p>まっすぐひけた分威力が増します。</p>
  <p>集中力を研ぎ済ませましょう。</p>
</div>