<p>こんにちは! <%= @email %>さん!</p>
<br>
<br>
<p>パスワード変更のリクエストが要求された為、変更用のリンクを作成しました。</p>
<br>
<br>
<br>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<br>
<p>もし、パスワード変更の必要がない場合は無視してください。</p>
<p>リンクからパスワードを送信しない限り、変更はされません。</p>
